<noscript>
  <h1>Listing tips</h1>
  
  <table>
    <tr>
      <th>Explaination</th>
      <th>Fobar</th>
      <th>User</th>
      <th>Votes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
  <% @tips.each do |tip| %>
    <tr>
      <td><%= tip.explaination %></td>
      <td><%= tip.fobar %></td>
      <td><%= tip.user %></td>
      <td><%= tip.votes %></td>
      <td><%= link_to 'Show', tip %></td>
      <td><%= link_to 'Edit', edit_tip_path(tip) %></td>
      <td><%= link_to 'Destroy', tip, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
  
  <br />
  
  <%= link_to 'New Tip', new_tip_path %>
</noscript>



<div id="tips"></div>

<script type="text/javascript">
  $(function() {
      window.router = new Oops.Routers.TipsRouter({tips: <%= @tips.to_json.html_safe -%>});
      Backbone.history.start();
      });
</script>
